/* =============
    Demo
============= */

.box{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.red-box{
    background-color: $red;
}

.blue-box{
    background-color: $blue;
}

.orange-box{
    background-color: $orange;
}