/* =============
    Demo
============= */


#white{
    background-color: #000;
    display:grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "WL text .";

    >div{
        grid-area: WL;
        
        svg{
            width: 50%;
        }
    }
    
    >article{
        grid-area: text;
        margin-top: 100px;
        margin-bottom: 500px;
        
        svg{
            width: 100%;
        }
    }
}
